*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #ffd295;
        font-size: 24px; 
}

main{
    margin: 20px;
}
section{
    background-color: #ffbd6a;
    outline: solid;
    outline-width: 2px;
    outline-color: rgba(0, 0, 0, 0.377);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.800);
}

h1{
    padding: 10px;
    text-align: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.800);
    outline: solid;
    outline-width: 2px;
    outline-color: rgba(0, 0, 0, 0.377);
}

header h1{
    text-shadow: 4px 3px 5px rgba(0, 0, 0, 0.516);
}

h2{
    padding: 10px;
}

h3{
    padding: 10px;
}

.imagediv{
    height: 500px;
    width: 500px;
    overflow: hidden;
    border-radius: 4px;
    margin: 10px;

    outline: solid;
    outline-width: 2px;
    outline-color: rgba(0, 0, 0, 0.377);

    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.800);
}

nav a{
    padding: 10px;
    margin: 3px;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 2%;
    background-color: #ffbd6a;
    border-radius: 10px;
    text-decoration: none;
    color: black;

    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.800);

    outline: solid;
    outline-width: 2px;
    outline-color: rgba(0, 0, 0, 0.377);

    transform: scale(1);
    transition: transform 0.2s, background-color 0.2s;
}
nav a:hover{
    padding: 10px;
    margin: 3px;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 2%;
    transform: scale(1.1);
    background-color: #f9c483;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.800);
}

header{
    background-color: #ffbd6a;
}

nav{
    display: flex;
    justify-content: center;
}

footer{

    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.800);
    
    outline: solid;
    outline-width: 2px;
    outline-color: rgba(0, 0, 0, 0.377);

    text-align: center;
    background-color: #ffbd6a;
    position: fixed;
    width: 100%;
    padding: 5px;
    bottom: 0;
    left: 0;
}